---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume - Phuc Nguyen" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Phuc Nguyen</div>
  </div>

  <div class="mb-5">
      <p class="text-lg">
          EE Sophomore @VinUniversity | Research Consultant @WorldQuant | UGrad RA @VinUniversity<br/>
          Thành Phố Bắc Ninh, Bac Ninh, Vietnam
      </p>
      <p class="text-lg">
          <a href="mailto:nhpcbn0608@gmail.com">nhpcbn0608@gmail.com</a><br/>
          <a href="https://www.linkedin.com/in/phuc-nguyen-a0150a26b/" target="_blank" rel="noopener noreferrer">LinkedIn</a><br/>
          <a href="https://github.com/phucngvinuni" target="_blank" rel="noopener noreferrer">GitHub</a>
      </p>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Summary</div>
  </div>

  <div class="mb-10 text-justify">
    <p>As a passionate and curious Electrical Engineering student, I am dedicated to exploring the intersections of AI, machine learning, and cutting-edge technology to solve real-world problems. My academic journey is complemented by hands-on experience in research, software development, and hardware optimization, allowing me to bridge theory and practice effectively.</p>
    <p>Highlights of my journey include:</p>
        <ul class="list-disc ml-6">
            <li>Co-authoring research on energy-aware resource allocation for wireless sensor nodes, published in IEEE Communications Letters.</li>
            <li>Developing predictive maintenance models for electric vehicles using advanced machine learning techniques.</li>
            <li>Exploring semantic communication and DeepJSCC (Deep Joint Source-Channel Coding) to enhance data transmission efficiency.</li>
        </ul>

        <p>I thrive in dynamic environments that challenge me to think creatively and innovate. With expertise in Python, C++, MATLAB, TensorFlow, and PyTorch, I have contributed to diverse projects, from building neural networks from scratch to designing IoT systems for smart aquaculture.</p>

    <p>My ultimate goal is to contribute to groundbreaking advancements in AI and engineering through impactful research roles. I am eager to work in environments where I can apply my skills to investigate complex problems, develop innovative solutions, and push the boundaries of what technology can achieve.</p>
    <p>Let's connect and discuss how we can create impactful solutions together!</p>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Research Consultant"
      subtitle="September 2024 - Present (7 months) at WorldQuant"
    >
      Research and develop mathematical models that seek to predict the price movement of various financial instruments (alphas).
    </TimeLineElement>
    <TimeLineElement
      title="Undergraduate Research Assistant"
      subtitle="October 2023 - Present (1 year 6 months) at VinUniversity, Hanoi, Vietnam"
    >
      <ul>
          <li>Conducted research on signal processing and telecommunication.</li>
          <li>Explored Open RAN architecture and 5G networks.</li>
          <li>Developed models for water quality prediction, fish tracking, and underwater size estimation.</li>
          <li>Researched semantic communication techniques (DeepJSCC).</li>
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="VinUniversity"
      subtitle="Bachelor's degree, Electrical and Electronics Engineering (June 2023 - May 2027)"
    />
    <TimeLineElement
        title="Bac Ninh Highschool For The Gifted"
        subtitle=""
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>Digital Signal Processing 1: Basic Concepts and Algorithms</li>
    <li>AI For Everyone</li>
    <li>Advanced C++</li>
    <li>Digital Signal Processing 2: Filtering</li>
    <li>Hacker Rank Problem Solving (Intermediate)</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Honors & Awards</div>
</div>
<ul class="list-disc mx-6 mb-10 grid gap-2">
  <li>Second Prize - National Physics Olympiad</li>
    <li>100% scholarship</li>
    <li>Thomas Jefferson Physics Olympiad, 5th place</li>
    <li>Top 2, VinUni CTF challenge</li>
    <li>President's List AY 23-24</li>
</ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Digital Signal Processing</li>
    <li>Deep Learning</li>
    <li>Cryptocurrency Trading</li>
    <li>Python</li>
    <li>C++</li>
    <li>MATLAB</li>
    <li>TensorFlow</li>
    <li>PyTorch</li>
  </ul>
   <div class="mb-5">
        <div class="text-3xl w-full font-bold">Publications</div>
    </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      Energy-Aware Resource Allocation for Energy Harvesting Powered Wireless Sensor Nodes
    </li>
  </ul>
</BaseLayout>