---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume - Phuc Nguyen" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Nguyen Hong Phuc</div>
  </div>

  <div class="mb-5">
      <p class="text-lg">
          EE Sophomore @VinUniversity | Research Consultant @WorldQuant | UGrad RA @VinUniversity<br/>
          Bac Ninh, Vietnam
      </p>
      <p class="text-lg">
          <a href="mailto:23phuc.nh@vinuni.edu.vn">23phuc.nh@vinuni.edu.vn</a><br/>
      </p>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Summary</div>
  </div>

  <div class="mb-10 text-justify">
    <p>As a dedicated Electrical Engineering student, I specialize in AI, machine learning, and signal processing, bridging theoretical research with practical applications. My work spans predictive maintenance, semantic communication, and deep learning for engineering problems.</p>
    <p>Key achievements include:</p>
        <ul class="list-disc ml-6">
            <li>Co-authoring an IEEE Communications Letters publication on energy-aware resource allocation.</li>
            <li>Developing AI-powered predictive maintenance for electric vehicles.</li>
            <li>Exploring DeepJSCC for semantic communication research.</li>
        </ul>
    <p>With expertise in Python, C++, MATLAB, TensorFlow, and PyTorch, I contribute to cutting-edge AI and signal processing projects, aiming for impactful research and real-world applications.</p>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Research Consultant"
      subtitle="September 2024 - Present at WorldQuant"
    >
      Develop mathematical models predicting financial instrument price movements.
    </TimeLineElement>
    <TimeLineElement
      title="Undergraduate Research Assistant"
      subtitle="October 2023 - Present at VinUniversity, Hanoi, Vietnam"
    >
      <ul>
          <li>Conducted research on signal processing and telecommunication.</li>
          <li>Explored Open RAN architecture and 5G networks.</li>
          <li>Developed models for water quality prediction, fish tracking, and underwater size estimation.</li>
          <li>Researched DeepJSCC for semantic communication.</li>
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="VinUniversity"
      subtitle="BSc in Electrical and Electronics Engineering (2023 - 2027)"
    />
    <TimeLineElement
        title="Bac Ninh High School for the Gifted"
        subtitle="Physics Major (2020 - 2023)"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>Digital Signal Processing 1-2 (EPFL)</li>
    <li>Neural Networks and Deep Learning (DeepLearning.AI)</li>
    <li>Open RAN 101 (Telco Perspective)</li>
    <li>Introduction to Optimization (VinUniversity)</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Honors & Awards</div>
  </div>
  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>Second Prize - Vietnam National Physics Olympiad</li>
    <li>100% Talent Scholarship - VinUniversity</li>
    <li>Gold Medal - WorldQuant Challenge</li>
    <li>Silver Medal - University Physics Competition</li>
    <li>President’s List AY 23-24 (Top 1% students)</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Digital Signal Processing</li>
    <li>Deep Learning</li>
    <li>Python</li>
    <li>C++</li>
    <li>MATLAB</li>
    <li>TensorFlow</li>
    <li>PyTorch</li>
    <li>LaTeX</li>
  </ul>
  
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Publications</div>
  </div>
  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>Energy-Aware Resource Allocation for Energy Harvesting Powered Wireless Sensor Nodes - IEEE Communications Letters</li>
    <li>A Digital Healthcare Platform for Cardiovascular Disease - 1st Open Innovation Conference</li>
    <li>Low-cost Triboelectric Nanogenerator for Wind Energy Harvesting - 1st Open Innovation Conference</li>
    <li>Sustainable Smart Mariculture System: IoT-Based Water Quality Monitoring - 1st Open Innovation Conference</li>
  </ul>
</BaseLayout>
