---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    © {today.getFullYear()} Nguyen Hong Phuc
  </div>
  <div class="inline opacity-75">
    Developed by <a href="https://phucngvinuni.github.io/" target="_blank" class="font-bold">NHP</a> using
    <a href="https://astrofy-template.netlify.app/" target="_blank" class="font-bold">Astrofy Template ⚡️</a>
  </div>

  <!-- === DÁN MÃ CLUSTRMAPS VÀO ĐÂY === -->
  <div class="clustrmaps-widget mt-4"> {/* Thêm class hoặc div nếu muốn tạo kiểu */}
    <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=300&t=n&d=5QQajMeXgwYauklO9AzClERkHwPFL_Ht2yriZkWV0e4&co=201f3d&cmo=3acc3a&cmn=ff5353&ct=ffffff'></script>
  </div>
  <!-- ================================ -->

</footer>
<style></style>
